<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>


<div class="container">
    <div class="row">
        <h2>All Rotations</h2>
    </div>
<br>

  <div class="row">
    <div class="col-sm-3">
        <div class="row">
            <p>Hi <%= @current_user[:first_name] %>!</p>
            <br>
            <p>Check out the available rotations. You can mark interest in any you see and someone from our team would be happy to follow up!</p>
        </div>
        <br>
        <div class="row">
        <p><strong>My Interested Rotations</strong></p>
        </div>
        <div class="row">
         <% for interest in @interests %>
                <% if interest[:follow_up]==nil %>
                        <!-- Want to show the rotation where the rotation id ==  -->
                        <%= interest[:rotation_id] %>
                    <% else %>
                <% end %>
         <% end %>
        </div>
    </div>

    <div class="col-sm-9">
        <% for rotation in @rotations %>
            <div class="container outline">
                <p><strong><a href="/rotations/<%= rotation[:id] %>"><%= rotation[:company] %></a></strong>
                , <%= rotation[:function] %> </p>
                <p><u><%= rotation[:city] %></u></p>
                <p><%= rotation[:length] %></p>
                <hr>
            </div>
            <br>
        <% end %>
    </div>
  </div>
</div>

