<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>


<div class="container">
    <div class="row">
        <h2>All Rotations</h2>
    </div>
<br>

  <div class="row">
    <div class="col-sm-4">
        <div class="row">
            <% if @current_user %>
                <h5>Hi <%= @current_user[:first_name] %>!</h5>
            <br>
            <p>Check out the available rotations. You can mark interest in any you see and someone from our team would be happy to follow up!</p>
        </div>
        <br>
        <div class="row">
            <p><strong>My Interested Rotations</strong></p>
        </div>
        <div class="row">
            <% for @interest in @interests %>
                <% if @interest[:mark_interested]==true  %>
                    <div class="container interest">
                        <p> <strong><%= @interest[:company] %></strong>: <%= @interest[:function] %></p> 
                        <% if @interest[:follow_up] == true %>
                        <p>Someone from our team is following up! </p>
                        <% else %>
                        <p>For your info only, no one is following up </p>
                        <% end %> 
                    </div>
                    <br>
                    <% else %>
                <% end %>  
             <% end %>
        </div>

        <%else%>
            <p> Please <a href="/logins/new">login </a> to submit interest in any rotations </p>
        <%end%>
    </div>

            <br>



    <div class="col-sm-8">
        <% for rotation in @rotations %>
            <div class="container outline">
                <p><strong><a href="/rotations/<%= rotation[:id] %>"><%= rotation[:company] %></a></strong>
                , <%= rotation[:function] %> </p>
                <p><u><%= rotation[:city] %></u></p>
                <p><%= rotation[:length] %></p>
                <hr>
            </div>
            <br>
        <% end %>
    </div>
  </div>
</div>

