<div class="row">
    <div class="col-sm-9">
        <h1>
            <%= @rotation[:company] %>
        </h1>
        <h5><%= @rotation[:address] %></h5>
            <br>
        <h2><%= @rotation[:function] %></h2>
        <p><%= @rotation[:function_description] %></p>
            <br>
        <h4>Length: <%= @rotation[:length] %></h4>
            <!-- <br>
        <a href="/rotations/:id/comment/new" class="btn btn-secondary">Add a comment</a>
        <a href="/" class="btn btn-secondary">Mark Interest</a>
        <br> -->

        <p class="mt-5">
            <% if @current_user %>
                <a href="/rotations/<%= @rotation[:id] %>/interest/new" class="btn btn-primary">Mark Interest</a>
            <% else %>
                <a href="/logins/new" class="btn btn-dark">Please sign in to mark interest</a>
            <% end %>
        </p>

    </div>

       
    <div class="col-sm-3">
        <!-- picture of the map  -->
            <iframe
                width="220"
                height="180"
                frameborder="1" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
                &q=<%= @lat_long[0] %>,<%= @lat_long[-1] %>&zoom=11" allowfullscreen>
            </iframe>
         <!-- End map code  -->

        <% for interest in @interests %>
                <% if interest[:mark_interested]==true && interest[:company]==@rotation[:company] %>
                        <h3>Current Status</h3>
                        <p> You have marked interest in a rotation at <%= @rotation[:company] %></p>
                        <p> Someone from our team will follow up with you shortly! </p>
                    <% else %>
                        <p>  </p>
                <% end %>  
         <% end %>
    </div>
</div>
<br>



